# {{ ansible_managed }}
{% if netiface.description is defined %}
# {{ netiface.description }}
{% endif %}

{% set bootproto = netiface.bootproto | default('dhcp') %}
DEVICE={{ netiface.name }}
BOOTPROTO={{ bootproto }}
ONBOOT={{ 'yes' if (netiface.onboot | default(true)) else 'no' }}
TYPE={{ netiface.type | default('Ethernet') }}
{% if bootproto != 'dhcp' %}
{% if netiface.ip is defined %}
IPADDR={{ netiface.ip | ansible.utils.ipaddr('address') }}
NETMASK={{ netiface.ip | ansible.utils.ipaddr('netmask') }}
IPV6INIT=yes
IPV6_AUTOCONF=yes
{% if netiface.gateway is defined %}
GATEWAY={{ netiface.gateway | ansible.utils.ipaddr('address') }}
{% endif %}
{% endif %}
{% endif %}
NM_CONTROLLED=yes
USERCTL=no
{% if netiface.bridge is defined %}
BRIDGE={{ netiface.bridge }}
{% endif %}
{% if netiface.mtu is defined %}
MTU={{ netiface.mtu }}
{% endif %}
{% if netiface.vlan is defined %}
VLAN={{ netiface.vlan }}
{% endif %}
{% if netiface.master is defined %}
MASTER={{ netiface.master }}
SLAVE=yes
{% endif %}
{% if netiface.bonding_opts is defined %}
BONDING_OPTS={{ netiface.bonding_opts }}
BONDING_MASTER=yes
{% endif %}
{% if netiface.eththool_opts is defined %}
ETHTOOL_OPTS={{ netiface.eththool_opts }}
{% endif %}
