# {{ ansible_managed }}
{% if system_netiface.description is defined %}
# {{ system_netiface.description }}
{% endif %}

{% set bootproto = system_netiface.bootproto | default('none') %}
DEVICE={{ system_netiface.name }}
BOOTPROTO={{ bootproto }}
ONBOOT={{ 'yes' if system_netiface.onboot else 'no' }}
TYPE={{ system_netiface.type }}
{% if bootproto != 'dhcp' %}
{% if system_netiface.ip is defined %}
IPADDR={{ system_netiface.ip | ansible.utils.ipaddr('address') }}
NETMASK={{ system_netiface.ip | ansible.utils.ipaddr('netmask') }}
IPV6INIT="yes"
IPV6_AUTOCONF="yes"
{% if system_netiface.gateway is defined %}
GATEWAY={{ system_netiface.gateway | ansible.utils.ipaddr('address') }}
{% endif %}
{% endif %}
{% endif %}
NM_CONTROLLED=no
USERCTL=no
{% if system_netiface.bridge is defined %}
BRIDGE={{ system_netiface.bridge }}
{% endif %}
{% if system_netiface.mtu is defined %}
MTU={{ system_netiface.mtu }}
{% endif %}
{% if system_netiface.vlan is defined %}
VLAN={{ system_netiface.vlan }}
{% endif %}
{% if system_netiface.master is defined %}
MASTER={{ system_netiface.master }}
SLAVE=yes
{% endif %}
{% if system_netiface.bonding_opts is defined %}
BONDING_OPTS={{ system_netiface.bonding_opts }}
BONDING_MASTER=yes
{% endif %}
{% if system_netiface.eththool_opts is defined %}
ETHTOOL_OPTS={{ system_netiface.eththool_opts }}
{% endif %}
