# {{ ansible_managed }}
{% if netiface.description is defined %}
# {{ netiface.description }}
{% endif %}

{% set bootproto = netiface.bootproto | default('dhcp') %}
{% if (netiface.onboot | default(true)) %}
auto {{ netiface.name }}
{% endif %}
iface {{ netiface.name }} inet {{ bootproto }}
{% if bootproto != 'dhcp' %}
{% if netiface.ip is defined %}
    address {{ netiface.ip | ansible.utils.ipaddr }}
{% endif %}
{% if netiface.gateway is defined %}
    gateway {{ netiface.gateway | ansible.utils.ipaddr('address') }}
{% endif %}
{% endif %}
{% if netiface.options is defined %}
{% for option in netiface.options %}
    {{ option }}
{% endfor %}
{% endif %}

{% if netiface.routes is defined %}
{% for route in netiface.routes %}
    up ip route add {{ route.network }}{% if route.gateway is defined %} via {{ route.gateway | ansible.utils.ipaddr('address') }}{% endif %} dev {{ netiface.name }}
{% endfor %}
{% endif %}
