#!/usr/bin/env bash
#
# {{ ansible_managed }}
#
# Detection script to determine if the package manager cache need to be updated
#
# Return codes :
#
# 0 = Do not need to update cache
# 1 = Need updating

set -e

{% if 'files' in packages_update_policy %}
test_file() {
  test -f "$1"

  # file age
  local mtime=$(stat --printf '%y' "$1")
  local ts=$(date +%s -d "$mtime")

  test $ts -gt $(date +%s -d "$2 days ago")
}

{% for file in packages_update_policy.files %}
test_file {{ file.path }} {{ file.age | default(system_packages_cache_age) }}
{% endfor %}
{% endif %}

{% if 'directories' in packages_update_policy %}
test_dir() {
  test $(ls -1 "$1" | wc -l) -gt 0

  local matches=$(find "$1" -mtime -$(( $2 + 1 )) | wc -l)
  test $matches -gt 0  
}

{% for directory in packages_update_policy.directories %}
test_dir {{ directory.path }} {{ directory.age | default(system_packages_cache_age) }}
{% endfor %}
{% endif %}
