{% set mirrors = system_apt_mirrors | default(apt_default_mirrors) %}
{% for mirror in mirrors %}
{% for branch in mirror.branches %}
deb{% if (mirror.trusted | default(false)) %} [trusted=yes]{% endif %} {{ mirror.url }} {{ branch }} {{ mirror.sections | join(' ') }}
{% endfor %}

{% endfor %}
