{% set mirrors = system_apt_mirrors | default(system_apt_default_mirrors) %}
{% for mirror in mirrors %}
{% for branch in mirror.branches %}
deb {{ mirror.url }} {{ branch }} {{ mirror.sections | join(' ') }}
{% endfor %}

{% endfor %}
